/* =========================
   Profile image (About page)
   ========================= */

img.profile {
  float: right;
  margin-left: 2rem;
  margin-bottom: 1rem;

  width: auto !important;
  max-width: 150px !important;  

  height: auto !important;
  display: block;

  border: none;
  border-radius: 0;
}

@include media-query($on-palm) {
  img.profile {
    float: none;
    margin: 0 auto 1.5rem auto;
    max-width: 180px !important;
  }
}

