/* Profile */
.profile {
    flex: 0 0 220px;    
    margin-left: 1.5rem;
    margin-bottom: 1rem;

    border: none;
    border-radius: 0;    
}
.secondary-text {
  font-size: 0.88rem;
  color: #666;
}
