/* =========================
   Profile image (About page)
   ========================= */

img.profile {
  float: right;           
  margin-left: 2rem;
  margin-bottom: 1rem;

  max-width: 240px;       
  width: auto;
  height: auto;

  border: none;
  border-radius: 0;
  display: block;
}

@include media-query($on-palm) {
  img.profile {
    float: none;
    margin: 0 auto 1.5rem auto;
    max-width: 60%;       
  }
}
